extends ../../../../../app/views/layout-marketing

block vars
	- isWebsiteRedesign = true


block content
	main#main-content.content.content-alt
		.container
			.row
				.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4
					.card
						.card-body
							.page-header
								h1.login-register-header-heading-focus.h3 #{translate("register")}
								.login-register-hr-text-container
							form(
								data-ol-async-form
								name="registerForm"
								action="/register",
								method="POST",
								aria-label=translate('create_account')
							)
								input(name='_csrf' type='hidden' value=csrfToken)
								+formMessages()
								.form-group
									label(for='emailField') #{translate("email")}
									input.form-control(
										aria-label="email"
										type='email',
										name='email',
										placeholder=translate("email"),
										required,
										autocomplete="username",
										autofocus
									)
								if showPasswordField
									.form-group
										label(for='passwordField') #{translate("password")}
										input.form-control(
											aria-label="password"
											type="password",
											name="password",
											placeholder=translate("password"),
											required,
											autocomplete="new-password"
										)
								.actions
									button.btn.btn-primary.w-100(
										type='submit',
										data-ol-disabled-inflight
									)
										span(data-ol-inflight="idle") #{translate("create_account")}
										span(hidden data-ol-inflight="pending") #{translate("registering")}…
							.login-register-hr-text-container
							.ciam-register-login-link
								.login-register-other-links
									.p 
										| #{translate("already_have_sl_account")} 
										a(href='/login') #{translate("login")}
									br
